*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  --font-size-base: clamp(1rem, 1.125rem + 0.1vw, 1.25rem);
  --line-height-base: 1.6;
  --color-text: #ccc;
  --color-bg: #00274e;
  --color-primary: #005fcc;
  --color-secondary: #ff5f42;
  --space: 0.5rem;
  --color-shadow: #131111;

  scroll-behavior: smooth;
  background: #eee;
}

:focus-visible {
  outline: 2px solid var(--color-primary);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}

main,
body > footer {
  max-width: 80ch;
  margin: 0 auto;
  padding: 0 calc(var(--space) * 2) calc(var(--space) * 2);
}

main {
  background: var(--color-bg);
  flex: 1 0 auto;
}

h1 {
  text-transform: uppercase;
  line-height: 1.7rem;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

h4 {
  font-size: 1.05rem;
  line-height: 1.2rem;
}

body {
  & > header {
    position: sticky;
    top: 0;
    background: var(--color-bg);
    z-index: 1000;
    padding-top: 1rem;

    nav {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 0.9rem;
      }
    }

    & > hr {
      margin-block-end: 0;
    }
  }

  & > footer {
    width: 100%;
    color: #fff;
    background-color: #000;
    padding-block: 1rem;
    flex-shrink: 0;
  }
}

a {
  --element-color: var(--color-secondary);
  --hover: color-mix(in srgb, var(--element-color) 80%, black);
  --active: color-mix(in srgb, var(--element-color) 70%, black);
  --visited: color-mix(in srgb, var(--element-color) 90%, #fff);
  color: var(--element-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: var(--hover);
  }

  &:active {
    color: var(--active);
  }

  &:visited {
    color: var(--visited);
  }
}

button {
  --element-color: var(--color-secondary);
  --hover: color-mix(in srgb, var(--element-color) 80%, black);
  --active: color-mix(in srgb, var(--element-color) 70%, black);
  background-color: var(--element-color);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;

  &:hover,
  &:focus {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--hover);
  }
}

figure {
  margin: calc(var(--space) * 2) 0;
  text-align: center;
}

picture,
img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 38rem;
  object-fit: cover;
  object-position: center;
  transition: transform 300ms ease-in-out;
  overflow-clip-margin: content-box;
  overflow: clip;
}

figcaption {
  --color: #fff;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: var(--color);
}

details {
  --element-color: var(--color-secondary);
  --hover: color-mix(in srgb, var(--element-color) 80%, black);
  --active: color-mix(in srgb, var(--element-color) 70%, black);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--element-color);
  margin: 0 auto;
  border: 1px solid var(--color-shadow);
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
  }

  &::marker {
    display: none;
  }
}

details[open] {
  cursor: initial;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: none;

  summary {
    display: none;
  }
}

#title {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

#info {
  font-size: 0.8rem;
}

#author-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.team-avatar {
  --size: 1.5rem;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
}

@media screen and (min-width: 50rem) {
  html {
    --color-bg: #fff;
    --space: 1rem;
    --color-text: #212529;
    --color-shadow: #eee;
  }

  body > header nav a {
    font-size: 1rem;
  }

  #title {
    font-size: 2rem;
    margin-bottom: 0;
  }

  h1 {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.7em;
  }

  h3 {
    font-size: 1.3em;
    line-height: 1.5em;
  }

  h4 {
    font-size: 1.1em;
    line-height: 1.3em;
  }

  a,
  button,
  details {
    --element-color: var(--color-primary);
  }

  figcaption {
    --color: #675;
  }

  .footer-links {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
}

@media screen and (min-width: 55rem) {
  body > header nav {
    flex-direction: row;

    a {
      font-size: 1.1rem;
    }
  }
}
